@model EasyProjectG.Models.entidade

@{
    ViewBag.Title = "Details";
}

<!-- .modal-dialog -->
<div class="modal-dialog" role="document">
    <!-- .modal-content -->
    <div class="modal-content">
        <!-- .modal-header -->
        <div class="modal-header">
            <h6 id="clientBillingEditModalLabel" class="modal-title inline-editable">
                <span class="sr-only">Erro ao tentar excluir pessoae</span> <input type="text" class="form-control form-control-lg" value="Zathunicon, Inc." placeholder="E.g. Stilearning, Inc." required="">
            </h6>
        </div><!-- /.modal-header -->
        <!-- .modal-body -->
        <div class="modal-body">
            
            
        </div><!-- /.modal-body -->
        <!-- .modal-footer -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button> <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
